extends layout

block content
  h1= "You just adopted a new bearded man. Oh, indeed."
  p(value=cats) His name is #{cats.name}, his age is #{cats.age}, and his beard color is #{cats.color}!
  <img src="https://dl.dropboxusercontent.com/u/18958141/flappy.jpg" alt="flappy bird" />

