extends layout

block content
  h1= "You just adopted a new cat. Oh, indeed."
  p(value=cats) Its name is #{cats.name} and it's #{cats.age} and #{cats.color}.
  <img src="https://dl.dropboxusercontent.com/u/18958141/flappy.jpg" alt="flappy bird" />

